:root {
    --burger-width: 32px;
    --burger-height: 2px;
    --burger-gap: 8px;
    --foreground: #e0def4;
    --animation-timing: 400ms ease-in-out; 
    --menu-height: calc(var(--burger-height) * 3 + var(--burger-gap) * 2);
    --menu-margin: 16px;
    --sqrt: 1.41421356237;
}

.menu {
    --x-width: calc(var(--menu-height) * var(--sqrt));
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: var(--burger-gap);
    width: max-content;
    position: absolute;
    top: var(--menu-margin);
    left: var(--menu-margin);
    z-index: 2;
}

.menu::before,
.menu input,
.menu::after {
    content: "";
    width: var(--burger-width);
    height: var(--burger-height);
    background-color: var(--foreground);
    border-radius: 9999px;
    transform-origin: left center;
    transition: opacity var(--animation-timing), width var(--animation-timing), rotate var(--animation-timing), translate var(--animation-timing), background-color var(--animation-timing);
}

.menu:has(input:checked)::before {
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--burger-height) / -2);
}

.menu input {
    appearance: none; 
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}

.menu input:checked {
    opacity: 0;
    width: 0;
}

.menu:has(input:checked)::after {
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--burger-height) / 2);
}

@media (min-width: 591px) {
    .menu {
        display: none;
    }
}

@media (max-width: 590px) {
    .sidebar {
        width: 100%;
        position: fixed;
        transition: translate var(--animation-timing);
        translate:  0 -170%;
    }

    .sidebar li {
        max-height: 0;
        transition: max-height 200ms ease-in-out;
    }

    .menu:has(input:checked) + .sidebar {
        translate: 0 0;
    }

    .menu:has(input:checked) + .sidebar li {
        max-height: 500px;
        transition: max-height 200ms ease-in-out;
    }
}
