---
import Head from  "../components/Head.astro";
import Header from "../components/Header.astro";
import GuestbookComponent from "../components/GuestbookComponent.astro";
import ComponentTemplate from "../components/ComponentTemplate.astro";
---
<html lang="en">
    <Head title="Guestbook | Chengxuan Li"/>
	<body class="no-scrollbar scroll-smooth bg-rp-base text-rp-text antialiased">
        <Header />
        <main transition:animate="initial">
            <section id="#guestbook">
                <GuestbookComponent />
            </section>
        </main>
    </body>
    <ComponentTemplate />
</html>
