---
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
// import BookingComponent from "../components/Booking.tsx";
import "../styles/fade.css";
import "../styles/scroll.css";
---
<html lang="en">
    <Head title="Chengxuan Li"/>
	<body class="no-scrollbar scroll-smooth bg-rp-base text-rp-text antialiased">
        <Header />
        <main transition:animate="initial">
            <section id="hero">
                <div class="relative -z-50 h-screen text-center flex flex-col items-center justify-center">
                    <h2 class="pb-2 text-sm uppercase tracking-[15px] text-rp-subtle">Computer Engineer</h2>
                    <h1 class="px-10 text-3xl font-semibold md:text-4xl lg:text-6xl">Chengxuan Li</h1>
                </div>
            </section>
            <section id="about">
                <div class="fade relative mx-auto min-h-screen max-w-full overflow-hidden py-24 px-4 md:px-10 text-left flex flex-col items-center gap-12" style="opacity: 0">
                    <h2 class="text-2xl uppercase tracking-[15px] text-rp-subtle md:tracking-[20px]">About</h2>
                    <div class="text-base text-rp-text space-y-10 px-0 py-24 md:px-10 md:py-0">
                        <p>I'm a computer engineer graduated in Canada. I'm passionate about 
                        building applications, developer tools, embedded software, and plugins 
                        / mods for the games I'm interested in, with a focus on performance, 
                        simplicity, and clarity without compromising necessary user experience. This 
                        idea was inspired from the philosophy of 
                        <a href="https://suckless.org/philosophy/" class="underline underline-offset-2 decoration-rp-pine decoration-2" target="_blank">suckless.org</a>
                        .</p>
                        <p class="text-base text-rp-text">
                            Interested in a chat or a conversation? 
                            <a href="#contact" class="underline underline-offset-2 decoration-rp-pine decoration-2 hover:text-rp-iris" target="_blank">Book my Cal.com!</a>
                        </p>
                    </div>
                </div>
            </section>
            <section id="projects"></section>
            <section id="contact">
                <div class="fade relative mx-auto min-h-screen max-w-full overflow-hidden py-24 px-4 md:px-10 text-left flex flex-col gap-12 items-center">
                    <h2 class="text-2xl uppercase tracking-[15px] text-rp-subtle md:tracking-[20px]">Final Words</h2> 
                    <ul class="list-disc space-y-4 px-4">
                        <li class="text-base text-rp-text">
                            <p>The current portfolio is still under "construction".</p>
                        </li>
                        <li class="text-base text-rp-text">
                            <p>The design of this page is based on 
                            <a href="https://www.jumr.dev/" class="underline underline-offset-4 decoration-rp-pine decoration-2" target="_blank">
                            the portfolio page</a> created by 
                            <a href="https://github.com/juliusmarminge" class="underline underline-offset-4 decoration-rp-pine decoration-2" target="_blank">Julius Marminge</a>, 
                            and it was modified and rebuilt using Astro and Tailwind CSS - and is open source at 
                            <a href="https://github.com/Dekr0/dekr0.io" class="underline underline-offset-2 decoration-rp-pine decoration-2 anim" target="_blank">GitHub.</a></p>
                        </li>
                    </ul>
                    <h4 class="text-center text-2xl tracking-wide">Interested in a chat or a conversation? Book my Cal.com!</h4>
                    <!--BookingComponent client:only="visible"/-->
                    <p class="text-center text-lg tracking-wide">Embedded is not working? Visit <a class="animate-pulse hover:animate-none hover:shadow-xl hover:shadow-rp-dawn-gold p-2 rounded-full text-rp-dawn-base bg-rp-dawn-gold" href="https://cal.com/dekr0">my Cal.com page</a> directly</p>
                </div>
            </section>
        </main>
	</body>
</html>
