<template id="comment-template">
    <div class="w-full pt-4 text-sm break-words">
        <span class="text-rp-text mr-1"></span>
    </div>
</template>
<template id="signin-template">
    <form class="relative pt-8 max-w-[500px]">
        <div class="flex flex-col gap-2">
            <button class="google px-4 py-1 bottom-1 right-1 bg-rp-overlay rounded-lg" type="submit">Sign in with Google</button>
            <button class="discord px-4 py-1 bottom-1 right-1 bg-rp-overlay rounded-lg" type="submit">Sign in with Discord</button>
        </div>
    </form>
</template>
