<div class="px-6 py-16 xs:py-8">
    <h1 class="text-xl uppercase tracking-[15px] text-rp-subtle md:tracking-[20px]">Sign my guestbook</h1>
    <guestbook-element>
    </guestbook-element>
</div>

<script>
    class Comment extends HTMLElement {

        constructor() {
            super();
        }

        connectedCallback() {
            if (this.dataset.props) {
                const props: { author: string, comment: string } = JSON.parse(this.dataset.props);
                const div = document.createElement("div");
                div.className = "w-full pt-4 text-sm break-words";
                const span = document.createElement("span");
                span.className = "text-rp-text mr-1";
                span.textContent = `${props.author}: ${props.comment}`;
                div.append(span);
                this.append(div);
            }
        }

    }

    class SignIn extends HTMLElement {

        constructor() {
            super();
        }

        connectedCallback() {
            const template = (document.getElementById("signin-template") as HTMLTemplateElement).cloneNode(true);
            this.appendChild(template);
            const google = this.querySelector(".google") as HTMLButtonElement;
            const discord = this.querySelector(".discord") as HTMLButtonElement;

            google.addEventListener("click", event => {
                event.preventDefault();
                globalThis.supabase.auth.signInWithOAuth({
                    provider: "google"
                })
                    .then(_ => globalThis.supabase.auth.getSession())
                    .then(response => {
                        console.log(`DEBUG - Session: ${response.data.session}`)
                    });
            });

            discord.addEventListener("click", event => {
                event.preventDefault();
                globalThis.supabase.auth.signInWithOAuth({
                    provider: "google"
                })
                    .then(_ => globalThis.supabase.auth.getSession())
                    .then(response => {
                        console.log(`DEBUG - Session: ${response.data.session}`)
                    });
            });
        }
    }

    class GuestbookElement extends HTMLElement {

        constructor() {
            super();
        }
    
        connectedCallback() {
            const submit = this.querySelector("button") as HTMLButtonElement;

            globalThis.supabase.auth.getSession().then(response => {
                if (response.data.session === null) {
                    this.
                }
            });

            globalThis.supabase.channel("any").on(
                "postgres_changes",
                { event: "INSERT", schema: "public", table: "comments" },
                payload => {
                    const newComment = payload.new;
                    const commentElement = document.createElement("comment-element");
                    commentElement.dataset.props = JSON.stringify({ author: newComment.author, comment: newComment.comment });
                    this.firstElementChild?.insertAdjacentElement("afterend", commentElement);
                }
            ).subscribe();

            globalThis.supabase.from("comments").select().then((response) => {
                const comments = response.data;
                if (comments !== null) {
                    for (const comment of comments) {
                        const commentElement = document.createElement("comment-element");
                        commentElement.dataset.props = JSON.stringify({ author: comment.author, comment: comment.comment });
                        this.append(commentElement);
                    }
                }
            });
        }
    }

    customElements.define("guestbook-element", GuestbookElement);
    customElements.define("comment-element", Comment);
    customElements.define("signin-element", SignIn);
</script>
