---
import Construction from "./Construction.astro"
import Discord from "./Discord.astro";
import GitHub from "./GitHub.astro";
import Home from "./Home.astro";
import LinkedIn from "./LinkedIn.astro";
import Menu from "./Menu.astro";
import Envelope from "./Envelope.astro"
import "../styles/burger.css"
---
<header class="sticky top-0 z-50 xs:py-4 xs:ml-4 xs:mx-6 text-rp-subtle xs:backdrop-blur-sm shadow-2xl" id="home">
    <Menu />
    <nav class="sidebar max-xs:backdrop-blur-sm">
        <ul class="m-0 sm:my-0 sm:mx-auto py-6 xs:p-0 flex flex-wrap flex-col xs:flex-row justify-normal xs:justify-center sm:justify-around items-center gap-4 xs:gap-6 sm:gap-6 list-none">
            <li class="inline-block sm:basis-auto xs:basis-nav-sm">
                <a class="hover:text-rp-iris" href="/#hero">
                    <Home height="1rem"/>
                </a>
            </li>
            <li class="inline-block sm:basis-auto xs:basis-nav-sm">
                <Construction height="1rem"/>
            </li>
            <li class="inline-block sm:basis-auto xs:basis-nav-sm">
                <a class="hover:text-rp-iris" href="/#about">
                    About
                </a>
            </li>
            <li class="inline-block sm:basis-auto xs:basis-nav-sm">
                <a class="hover:text-rp-iris" href="/#projects">
                    Projects
                </a>
            </li>
            <li class="inline-block sm:basis-auto xs:basis-nav-sm">
                <a class="hover:text-rp-iris" href="/guestbook/">
                    Guestbook
                </a>
            </li>
            <li class="inline-block sm:basis-auto xs:basis-nav-sm sm:text-left sm:mr-auto">
                <a class="p-1 rounded-md text-rp-dawn-base bg-rp-love hover:bg-rp-dawn-love" href="https://pub-55ec849fb1c345ecbaa27d557589c483.r2.dev/Resume.pdf" target="_blank">
                    Resume
                </a>
            </li>
            <li class="inline-block">
                <a href="https://github.com/Dekr0" target="_blank">
                    <GitHub className="fill-rp-subtle hover:fill-rp-iris" height="1.5rem"/>
                </a>
            </li>
            <li class="inline-block">
                <a href="https://www.linkedin.com/in/chengxuan-li" target="_blank">
                    <LinkedIn height="1.5rem"/>
                </a>
            </li>
            <li class="inline-block">
                <a href="https://discord.com/users/136072283444871168" target="_blank">
                    <Discord height="1.5rem"/>
                </a>
            </li>
            <li class="inline-block">
                <a class="group cursor-pointer flex flex-row gap-2 items-center" href="/#contact">
                    <Envelope height="1.5rem"/>
                    <span class="hidden uppercase font-bold text-rp-subtle group-hover:text-rp-iris max-sm:inline-flex md:inline-flex">Contact</span>
                </a>
            </li>
        </ul>
    </nav>
</header>
